.img-circle{
    object-fit: cover !important;
    height: 40px !important;
    object-position: center !important;
}

.collapse.in.fix{
    display: grid !important
}

.panel-heading.fix, .panel-body.fix{
    border: transparent !important;
    border-top-color: transparent !important;
}